<div class="container">
    <div class="row">
        <h3 class="colorized text-center w-25 mb-5 mx-auto mt-5">Meu perfil</h3>
        <div class="d-flex flex-row">
        <p class="text-center parag mr-3">Olá! Meu nome é Caio Marques e esta é minha página de apresentação. :)<br>
                                     Descobri o desenvolvimento através do estudo de lógica de programação, e logo depois comecei a faculdade de desenvolvimento web. 
                                     <br>Desde sempre tenho hábitos autodidatas, e foi isso que me motivou a investir também no curso Alura, para poder entrar no meio da comunidade e adquirir mais recursos de estudo.<br>Hoje, após meses estudo, busco uma oportunidade para ingressar no mercado de trabalho e adquirir experiências sólidas para poder crescer profissionalmente.</p>
        <img src="assets/me-rounded.png" class="mx-auto min-heigh-icon img-fluid justify-content-end">
        </div>
        <div class="w-100">
        <h3 class="p-2 colorized text-center w-25 mx-auto mt-5 mb-5">Principais Habilidades</h3>
        <div class="row w-75 mx-auto mb-5 terc-bg">
        <img src="assets/stack-html-css.png" class="col img-fluid">
        <img src="assets/stack-java.png" class="col img-fluid">
        <img src="assets/stack-angular.png" class="col img-fluid">
        </div>
        <div class="row mx-auto">
        <a class="colorized w-25 text-center mx-auto mb-5" href="https://github.com/caiodcc/perfil">Código desta página</a>
        </div>
        <div class="row mx-auto mb-5">
        <a class="colorized w-25 text-center mx-auto" href="https://github.com/caiodcc/crud_Angular">Projeto de CRUD no Angular</a>
        <a class="colorized w-25 text-center mx-auto" href="https://github.com/caiodcc/Java_CRUD_e_fundamentos">Projeto de CRUD no Java</a>
        </div>
        
    </div>            
    </div>
</div>
<div class="col mx-auto">
    <div class="row ms-5 mt-5 mb-5">
    </div>
    <h3 class="colorized text-center w-50 mb-5 h-25 mx-auto">Outros conhecimentos técnicos:
    </h3>   
    <div class="row w-75 mx-auto mb-5 terc-bg">  
    <img src="assets/stack-ts.png" class="col img-fluid h-75 w-75">
    <img src="assets/stack-springboot.png" class="col img-fluid">
    <img src="assets/stack-bt5.png" class="col img-fluid">
    <img src="assets/stack-sass.png" class="col img-fluid">
    <img src="assets/stack-git.png" class="col img-fluid">
    </div>
    <div class="col-md-12  mx-auto mb-5">
        <h3 class="colorized text-center w-50 mb-5 mx-auto">Como me contatar:</h3>
        <div class="row terc-bg mx-auto media-contact">
            <div class="col-4 mx-auto text-center">
                <img src="assets/wpp.png" class="mx-auto min-heigh-icon img-fluid">
                <button class="btn from-center" href="https://wa.me/5521974026883?text=Ol%C3%A1,%20Caio!">Whatsapp</button>
            </div>
            <div class="col-4 mx-auto text-center">
                <img src="assets/linkedin.png" class="mx-auto min-heigh-icon img-fluid">
                <button class="btn from-center" href="https://www.linkedin.com/in/caio-marques-682446234/">Linkedin</button>
            </div>
            
            <div class="col-4 mx-auto text-center">
                <img src="assets/github.png" class="mx-auto min-heigh-icon img-fluid">
                <button class="btn from-center" href="https://github.com/caiodcc">Github</button>
            </div>
            
    </div>
</div>